
# Starter pack rules start here

# Environment
/*env*/
docs/.sphinx/venv/

# Sphinx
docs/.sphinx/warnings.txt
docs/.sphinx/.wordlist.dic
docs/.sphinx/.doctrees/
docs/.sphinx/node_modules/

# Vale
docs/.sphinx/styles/*
docs/.sphinx/vale.ini

# Build outputs
docs/_build

# Node.js
docs/package*.json

# Unrelated cache and config files
docs/.DS_Store
docs/__pycache__
docs/.idea/
docs/.vscode/
