# Environment
*env*/
.venv/

# Sphinx
_utils/warnings.txt
_utils/.wordlist.dic
_utils/.doctrees/
_utils/update/
_utils/node_modules/

# Vale
_utils/styles/*
_utils/vale.ini

# Build outputs
_build

# Node.js
package*.json

# Unrelated cache and config files
.DS_Store
__pycache__
.idea/
.vscode/
