canonical-sphinx[full]
canonical-sphinx-extensions @ git+https://github.com/canonical/canonical-sphinx-extensions.git@main
packaging
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinx-last-updated-by-git
sphinx-sitemap
